@font-face {
    font-family: 'Regular';
    src: url(../../src/fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: 'Bold';
    src: url(../../src/fonts/Inter-Bold.ttf);
}
@font-face {
    font-family: 'Black';
    src: url(../../src/fonts/Inter-Black.ttf);
}

* {
    margin: 0px;
}

.main {
    height: 200vh;
    width: 100vw;
}

.header {
    background-image: url(https://plus.unsplash.com/premium_photo-1703417464507-1766a5e905e2?q=80&w=2045&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2em;
    align-items: center;
    text-align: center;
    width: 100vw;
    position: fixed;
    background-color: hsl(0, 0%, 96%);
}

.nav a {
    font-size: 1em;
    font-family: 'Regular';
    color:rgb(217, 35, 35);
    text-decoration: none;
}

.kittens {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 10px;
}


.img {
    height: 100%;
    width: 100%;
}